<% title(@session.location, @session.begin_date.to_s) %>
<title>
	<% if content_for?(:title) %>
		<%= yield(:title) %>
	<% else %>
		Observation
	<% end %>
</title>
<%= render "form" %>
<%= link_to "Edit Session", edit_session_path(@session) %>
<%= link_to "Delete Session", @session, :method => :delete, 
			:confirm => "Are you sure you want to delete this project?" %>
