<div id='observation'>
	<h2><%= @observation.obs_date %></h2>
	<p>
		<%= @observation.obs_date.to_s %>
		<%= @observation.obs_time.to_s %>
		<%= simple_format(@observation.notes) %>
	</p>
</div>
