<div id='observation'>
	<%= render "obs" %>
	<p>
		<%= @observation.obs_date.to_s %>
		<%= @observation.obs_time.strftime("%H:%M:%S") %>
		<%= simple_format(@observation.notes) %>
	</p>
</div>
